In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

from pyspark.ml.feature import StandardScaler
from pyspark.ml.feature import VectorAssembler

## SPARK SESSION

In [2]:
spark = SparkSession.builder.appName("sparkhive").enableHiveSupport().getOrCreate()

## Data Extraction from Hive

In [3]:
#We got the historical data from Hive to build our training dataset
df = spark.sql("SELECT * FROM fraud_project.fraud_full_load_external")

In [17]:
df.show()

+----+----------------+---------+-----------+-------------+--------------+-----------+--------------+--------------+-------+--------------+-------+
|step|transaction_type|   amount|   nameorig|oldbalanceorg|newbalanceorig|   namedest|oldbalancedest|newbalancedest|isfraud|isflaggedfraud| row_id|
+----+----------------+---------+-----------+-------------+--------------+-----------+--------------+--------------+-------+--------------+-------+
| 157|        CASH_OUT|243195.42| C557292767|      30945.0|           0.0|C2133715645|     247810.02|     443321.12|      0|             0|1000001|
| 157|         PAYMENT| 26450.15| C547756324|        139.0|           0.0| M366988082|           0.0|           0.0|      0|             0|1000002|
| 157|        CASH_OUT| 200987.4|C2119056835|          0.0|           0.0|C1913140449|     3156111.5|     3357099.0|      0|             0|1000003|
| 157|         PAYMENT|  5636.54|C1661110193|     101817.0|      96180.46|M1937624524|           0.0|           0.0|      0|             0|1000004|
| 157|         CASH_IN|147929.05| C412094154|     429283.0|     577212.06|C1004252689|           0.0|           0.0|      0|             0|1000005|
| 157|         CASH_IN|  5907.47| C390043710|    577212.06|      583119.5| C106146252|     252544.69|     246637.22|      0|             0|1000006|
| 157|         CASH_IN|  92038.0|C1626847847|     583119.5|      675157.5|  C93011991|     1706152.1|     1503784.6|      0|             0|1000007|
| 157|         CASH_IN|228600.89|C2113472536|     675157.5|      903758.4| C119254537|     322358.03|      93757.14|      0|             0|1000008|
| 157|         CASH_IN|158538.05|C1695006515|     903758.4|     1062296.5|C1264115338|     259735.77|     101197.72|      0|             0|1000009|
| 157|         CASH_IN|118299.77| C244458949|    1062296.5|     1180596.2|C1636422394|     1320525.8|     1202225.9|      0|             0|1000010|
| 157|         CASH_IN|251789.25|C1399554802|    1180596.2|     1432385.5|C1893262960|      908863.3|     657074.06|      0|             0|1000011|
| 157|         CASH_IN|102289.29|C1718085967|    1432385.5|     1534674.8|   C9558820|     3278373.2|     3315251.8|      0|             0|1000012|
| 157|         CASH_IN| 36389.95|C1052851351|    1534674.8|     1571064.8| C938182311|     6513618.5|     6477228.5|      0|             0|1000013|
| 157|         CASH_IN|271588.12| C568494727|    1571064.8|     1842652.9|C1303250233|      374031.1|     102442.95|      0|             0|1000014|
| 157|         CASH_IN| 80458.46| C772927579|    1842652.9|     1923111.2| C597212636|     468329.44|     387870.97|      0|             0|1000015|
| 157|         CASH_IN|112767.06|C2003126599|    1923111.2|     2035878.4| C636031085|     210674.39|      97907.33|      0|             0|1000016|
| 157|         CASH_IN|223088.08|C1081599672|    2035878.4|     2258966.5|C1699046512|      862335.7|     741522.44|      0|             0|1000017|
| 157|         CASH_IN|234682.12|C1970596483|    2258966.5|     2493648.5|C2030713675|    1026879.06|      792197.0|      0|             0|1000018|
| 157|         CASH_IN|110352.42|C1413893982|    2493648.5|     2604001.0|C1898494002|     253637.19|     143284.75|      0|             0|1000019|
| 157|         PAYMENT|  4003.76| C154409952|      26497.0|      22493.24|M1988722264|           0.0|           0.0|      0|             0|1000020|
+----+----------------+---------+-----------+-------------+--------------+-----------+--------------+--------------+-------+--------------+-------+
only showing top 20 rows

## Transformation
#Null Values #Duplicates #Feature selection #Scaling

In [18]:
#Checking for null values
columns = df.columns

# Count null values for each column
null_counts_per_column = [df.where(col(c).isNull()).count() for c in columns]

# Display the null counts for each column
for col_name, null_count in zip(columns, null_counts_per_column):
    print(f"Null count in '{col_name}': {null_count}")
    
#Imputation techniques

Null count in 'step': 0
Null count in 'transaction_type': 0
Null count in 'amount': 0
Null count in 'nameorig': 0
Null count in 'oldbalanceorg': 0
Null count in 'newbalanceorig': 0
Null count in 'namedest': 0
Null count in 'oldbalancedest': 0
Null count in 'newbalancedest': 0
Null count in 'isfraud': 0
Null count in 'isflaggedfraud': 0
Null count in 'row_id': 0

In [ ]:
#Checking for duplicated rows
# Count the total number of rows in the original DataFrame
total_rows = df.count()

# Count the number of rows in the deduplicated DataFrame
deduplicated_rows = df.dropDuplicates().count()

# Calculate the number of duplicate rows
duplicate_count = total_rows - deduplicated_rows

print("Total Rows:", total_rows)
print("Duplicate Rows:", duplicate_count)

# Remove exact duplicates from the entire DataFrame
deduplicated_df = df.dropDuplicates()

In [4]:
#Feature Selection
selected_columns = ["row_id","transaction_type","amount", "oldbalanceorg", "newbalanceorig", "oldbalancedest", "newbalancedest", "isfraud"]
df_new = df.select(*selected_columns)
df_new.show()

+-------+----------------+---------+-------------+--------------+--------------+--------------+-------+
| row_id|transaction_type|   amount|oldbalanceorg|newbalanceorig|oldbalancedest|newbalancedest|isfraud|
+-------+----------------+---------+-------------+--------------+--------------+--------------+-------+
|1000001|        CASH_OUT|243195.42|      30945.0|           0.0|     247810.02|     443321.12|      0|
|1000002|         PAYMENT| 26450.15|        139.0|           0.0|           0.0|           0.0|      0|
|1000003|        CASH_OUT| 200987.4|          0.0|           0.0|     3156111.5|     3357099.0|      0|
|1000004|         PAYMENT|  5636.54|     101817.0|      96180.46|           0.0|           0.0|      0|
|1000005|         CASH_IN|147929.05|     429283.0|     577212.06|           0.0|           0.0|      0|
|1000006|         CASH_IN|  5907.47|    577212.06|      583119.5|     252544.69|     246637.22|      0|
|1000007|         CASH_IN|  92038.0|     583119.5|      675157.5|     1706152.1|     1503784.6|      0|
|1000008|         CASH_IN|228600.89|     675157.5|      903758.4|     322358.03|      93757.14|      0|
|1000009|         CASH_IN|158538.05|     903758.4|     1062296.5|     259735.77|     101197.72|      0|
|1000010|         CASH_IN|118299.77|    1062296.5|     1180596.2|     1320525.8|     1202225.9|      0|
|1000011|         CASH_IN|251789.25|    1180596.2|     1432385.5|      908863.3|     657074.06|      0|
|1000012|         CASH_IN|102289.29|    1432385.5|     1534674.8|     3278373.2|     3315251.8|      0|
|1000013|         CASH_IN| 36389.95|    1534674.8|     1571064.8|     6513618.5|     6477228.5|      0|
|1000014|         CASH_IN|271588.12|    1571064.8|     1842652.9|      374031.1|     102442.95|      0|
|1000015|         CASH_IN| 80458.46|    1842652.9|     1923111.2|     468329.44|     387870.97|      0|
|1000016|         CASH_IN|112767.06|    1923111.2|     2035878.4|     210674.39|      97907.33|      0|
|1000017|         CASH_IN|223088.08|    2035878.4|     2258966.5|      862335.7|     741522.44|      0|
|1000018|         CASH_IN|234682.12|    2258966.5|     2493648.5|    1026879.06|      792197.0|      0|
|1000019|         CASH_IN|110352.42|    2493648.5|     2604001.0|     253637.19|     143284.75|      0|
|1000020|         PAYMENT|  4003.76|      26497.0|      22493.24|           0.0|           0.0|      0|
+-------+----------------+---------+-------------+--------------+--------------+--------------+-------+
only showing top 20 rows

In [19]:
#Visualizing the types of each columns #1
df_new.printSchema()

root
 |-- row_id: integer (nullable = true)
 |-- transaction_type: string (nullable = true)
 |-- amount: float (nullable = true)
 |-- oldbalanceorg: float (nullable = true)
 |-- newbalanceorig: float (nullable = true)
 |-- oldbalancedest: float (nullable = true)
 |-- newbalancedest: float (nullable = true)
 |-- isfraud: integer (nullable = true)

In [20]:
 #z-score scaling

# List of columns to scale (exclude "transaction_type", "isfraud", and "row_id")
columns_to_scale = ["amount", "oldbalanceorg", "newbalanceorig", "oldbalancedest", "newbalancedest"]

# Create a VectorAssembler to assemble the selected columns into a feature vector
assembler = VectorAssembler(inputCols=columns_to_scale, outputCol="scaled_features")

# Assemble the features into a vector
df_assembled = assembler.transform(df)

# Create a StandardScaler object
scaler = StandardScaler(inputCol="scaled_features", outputCol="scaled_features_scaled", withMean=True, withStd=True)

# Fit and transform the DataFrame
scaler_model = scaler.fit(df_assembled)
scaled_df = scaler_model.transform(df_assembled)

# Show the resulting DataFrame with scaled features
scaled_df.show()

Total Amount of Rows: 1020002
Total Amount of Columns: 8

## Load bak to Hive

In [ ]:
# Overwrite existing Hive table
scaled_df.write.mode("overwrite").saveAsTable("your_hive_database.your_hive_table")

## Save using other Pyspark formats

In [ ]:
# Save as Parquet
scaled_df.write.parquet("path_to_save/your_file.parquet")

# Save as Avro
scaled_df.write.format("avro").save("path_to_save/your_file.avro")

# Save as ORC
scaled_df.write.orc("path_to_save/your_file.orc")

# Save as JSON
scaled_df.write.json("path_to_save/your_file.json")